html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  color: #0A0A0A;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: black;
}
